body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  padding: 35px 1% 35px;
  background-color: #f8f9fa;
  position: relative;
}

header h1 {
  margin: 0; 
  padding: 0;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4b4b4b;
}

header .title-Icon img {
  width: 100px;
}

header .calendar-button {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

header .calendar-button img {
  width: 70px;
}

main {
  border-top: 3px solid #ccc;
  padding: 20px;
  min-height: calc(100vh - 70px - 60px); 
  box-sizing: border-box;
}

.section-title {
  font-size: 45px;
  margin-bottom: 10px;
  font-weight: bold;
}

.site-list {
  display: flex;
  justify-content: space-around;
}

.site-item {
  width: 150px;
  height: 100px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  text-align: center;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.footer-hidden {
  transform: translateY(100%);
}

.footer-visible {
  transform: translateY(0);
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.toggle-footer-button {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  left: 98%;
  transform: translateX(-50%);
  bottom: 80px; 
  z-index: 1001;
  transition: bottom 0.3s ease-in-out;
}

.footer-hidden ~ .toggle-footer-button {
  bottom: 1px; 
}

.toggle-footer-button img {
  width: 30px;
}
